body {
    background: pink;
    font-family: 'Indie Flower', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
}

#name {
    margin: 10px;
    padding: 10px;
    text-decoration: underline;
}

#name-appear {
    margin: 10px;
    padding: 10px;
}

.name-position {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 60px;
}

.metrics-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: auto 10px;
    width: 70%
}

#age {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

#age-section{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    height: 40px;
}

#age-count {
    display: flex;
    justify-content: center;
    margin: auto 10px;
}

button {
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
    margin: auto 10px;
}

/* @keyframes wobble {
    from
}

@keyframes wobble {
    0% {transform: rotate(5deg)};
    50% {transform: rotate(10deg)}
    100% {transform: rotate(-5deg)};
} */

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

#character {
    height: 150px;
    margin: 20px auto;
    /* transform-origin: 50% 100%;
    animation: wobble 1s infinite linear; */
    /* animation: wobble;
    animation-duration: 6s; */
    /* animation-iteration-count: infinite; */
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.character-two {
    height: 150px;
    margin: 20px auto;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.character-three {
    height: 150px;
    margin: 20px auto;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

#shaking-character {
    height: 150px;
    margin: 20px auto;
    animation-iteration-count: infinite;
}

#shaking-character:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.nest {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.character-stages {
    display: none;
}

.function-buttons {
    display: inline-block;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 15px 10px 20px;
}

.begin-game {
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.character-design {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 50%;
}

.character-section {
    border-radius: 30px;
    background-image: url("https://www.tynker.com/projects/images/e5fbc86a45895c4f3c516f3a914d1d24561a0a21/background-scene---image.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: 100% 100%;
    overflow: hidden;
    /* background: lightgray; */
    width: 300px;
    margin: 0 auto;
}

.character-two, .character-three {
    position: relative;
    z-index: 3;
}

#hide {
   display: none;
   position: absolute;
}

#video {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* <iframe width="811" height="406" src="https://www.youtube.com/embed/kXF3VYYa5TI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> */
}

.metrics-section {
    border-radius: 30px;
    background: #fffda7;
    width: 400px;
    margin: 0 auto;
}

.tama-device {
    background: #b2d8d8;
    width: 500px;
    margin: 0 auto;
    border-radius: 30px
}

.other-characters {
    display: none;
}


/* only works once */
#bounce-house {
    height: 150px;
    margin: 20px auto;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s alternate;
  }
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }